#corp{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: WHITE;
}

#profile{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: WHITE;
}

#address{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-fill: WHITE;
}

.header{
    -fx-background-color: GRAY;
}

.label-content{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: BLACK;
}

.status-error{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: RED;
}

.status-success{

}